docs/n8n/tech-blog/workflows/publish-workflow.json
[
  {
    "updatedAt": "2026-04-06T13:35:00.000Z",
    "createdAt": "2026-04-06T13:35:00.000Z",
    "id": "techBlogPublishWf",
    "name": "Tech Blog Publish Workflow",
    "description": "Polls Nextcloud 3-Publish, generates post JSON into 4-Published/json, updates the manifest, and archives the source note.",
    "active": false,
    "isArchived": false,
    "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "132b8349-f8fd-4eab-ba2d-65c87298c6dc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "folder",
        "operation": "create",
        "path": "/Notes/Blog Articles/4-Published/json"
      },
      "id": "4e9d1d6a-8ef9-42ec-b77f-5f16cd6d35df",
      "name": "Ensure JSON Folder",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        220,
        -120
      ],
      "continueOnFail": true,
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "folder",
        "operation": "create",
        "path": "/Notes/Blog Articles/4-Published/json/posts"
      },
      "id": "c6425472-2c26-45eb-aa3f-aaed689ae596",
      "name": "Ensure Posts Folder",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        440,
        -120
      ],
      "continueOnFail": true,
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "folder",
        "operation": "list",
        "path": "/Notes/Blog Articles/3-Publish/"
      },
      "id": "2548a2fc-c75d-41de-8b05-3254c9d7e64c",
      "name": "List Publish Folder",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst normalizePath = (value) => {\n  const decoded = decodeURIComponent(String(value || ''));\n  return decoded.startsWith('/') ? decoded : `/${decoded}`;\n};\nreturn items\n  .filter((item) => item.json.type === 'file' && typeof item.json.path === 'string' && item.json.path.toLowerCase().endsWith('.md'))\n  .map((item) => {\n    const sourcePath = normalizePath(item.json.path);\n    const fileName = sourcePath.split('/').pop();\n    return {\n      json: {\n        source_path: sourcePath,\n        file_name: fileName,\n        archive_path: `/Notes/Blog Articles/4-Published/${fileName}`,\n        manifest_path: '/Notes/Blog Articles/4-Published/json/blog-manifest.json'\n      }\n    };\n  });"
      },
      "id": "d3d51bcb-f75d-4d4e-a78b-0ebcbf690edb",
      "name": "Filter Publish Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "download",
        "path": "={{ $json.source_path }}",
        "binaryPropertyName": "data"
      },
      "id": "ab9c4580-2188-4bcf-a8df-b50d7dfe2bc8",
      "name": "Download Publish Markdown",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const sourcePath = $json.source_path;\nconst fileName = $json.file_name;\nconst archivePath = $json.archive_path;\nconst manifestPath = $json.manifest_path;\nconst buffer = await helpers.getBinaryDataBuffer(0, 'data');\nconst raw = buffer.toString('utf8');\nconst match = raw.match(/^---\\n([\\s\\S]*?)\\n---\\n?([\\s\\S]*)$/);\nconst frontmatterRaw = match ? match[1] : '';\nconst body = (match ? match[2] : raw).trim();\n\nconst metadata = {};\nlet currentKey = null;\nfor (const line of frontmatterRaw.split(/\\r?\\n/)) {\n  if (!line.trim()) continue;\n  const listMatch = line.match(/^\\s*-\\s+(.*)$/);\n  if (listMatch && currentKey) {\n    if (!Array.isArray(metadata[currentKey])) metadata[currentKey] = [];\n    metadata[currentKey].push(listMatch[1].trim().replace(/^['\"]|['\"]$/g, ''));\n    continue;\n  }\n  const keyMatch = line.match(/^([A-Za-z0-9_]+):\\s*(.*)$/);\n  if (!keyMatch) continue;\n  const [, key, rawValue] = keyMatch;\n  currentKey = key;\n  const value = rawValue.trim();\n  if (value === '') {\n    metadata[key] = [];\n    continue;\n  }\n  if (value === 'null') {\n    metadata[key] = null;\n    continue;\n  }\n  metadata[key] = value.replace(/^['\"]|['\"]$/g, '');\n}\n\nconst required = ['title', 'slug', 'excerpt', 'category'];\nfor (const field of required) {\n  if (!metadata[field] || !String(metadata[field]).trim()) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\nif (!body.trim()) {\n  throw new Error('Reviewed markdown body is empty.');\n}\n\nconst wordCount = body.split(/\\s+/).filter(Boolean).length;\nconst readingTime = Math.max(1, Math.ceil(wordCount / 200));\nconst now = new Date().toISOString();\nconst publishedAt = metadata.publish_at && metadata.publish_at !== 'null' ? metadata.publish_at : now;\nconst slug = String(metadata.slug).trim();\nconst postPath = `/Notes/Blog Articles/4-Published/json/posts/${slug}.json`;\n\nconst post = {\n  title: String(metadata.title),\n  slug,\n  excerpt: String(metadata.excerpt),\n  category: String(metadata.category),\n  tags: Array.isArray(metadata.tags) ? metadata.tags : [],\n  published_at: publishedAt,\n  updated_at: now,\n  reading_time: readingTime,\n  meta_description: String(metadata.meta_description || ''),\n  body_markdown: body,\n  source_note: sourcePath\n};\n\nconst lines = [];\nlines.push('---');\nlines.push(`title: \"${String(metadata.title).replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`slug: \"${slug.replace(/\"/g, '\\\\\"')}\"`);\nlines.push('status: published');\nlines.push('tags:');\nfor (const tag of (Array.isArray(metadata.tags) ? metadata.tags : [])) lines.push(`  - ${String(tag)}`);\nlines.push(`category: ${String(metadata.category)}`);\nlines.push(`created_at: ${metadata.created_at || now}`);\nlines.push(`updated_at: ${now}`);\nlines.push(`source_type: ${metadata.source_type || 'note'}`);\nlines.push(`source_path: \"${String(metadata.source_path || '/Notes/Blog Articles/1-Review/').replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`summary: \"${String(metadata.summary || '').replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`excerpt: \"${String(metadata.excerpt).replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`publish_at: ${publishedAt}`);\nlines.push(`canonical_url: \"${String(metadata.canonical_url || '').replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`meta_description: \"${String(metadata.meta_description || '').replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`og_image: \"${String(metadata.og_image || '').replace(/\"/g, '\\\\\"')}\"`);\nlines.push(`review_round: ${Number(metadata.review_round || 1) || 1}`);\nlines.push(`published_json_path: \"${postPath.replace(/\"/g, '\\\\\"')}\"`);\nlines.push('---');\nlines.push('');\nlines.push(body);\n\nreturn {\n  json: {\n    source_path: sourcePath,\n    archive_path: archivePath,\n    manifest_path: manifestPath,\n    post_path: postPath,\n    published_markdown: lines.join('\\n'),\n    post_json: JSON.stringify(post, null, 2),\n    manifest_entry: {\n      title: post.title,\n      slug: post.slug,\n      excerpt: post.excerpt,\n      category: post.category,\n      tags: post.tags,\n      published_at: post.published_at,\n      updated_at: post.updated_at,\n      reading_time: post.reading_time,\n      meta_description: post.meta_description\n    }\n  }\n};"
      },
      "id": "ebcf77e2-ca51-4a6e-b0a5-cc179fdbb4a4",
      "name": "Parse And Build Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "download",
        "path": "={{ $json.manifest_path }}",
        "binaryPropertyName": "manifest"
      },
      "id": "6db8f50f-07da-4ce2-bc7a-25b65bc6936e",
      "name": "Download Existing Manifest",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1540,
        0
      ],
      "continueOnFail": true,
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const prior = $('Parse And Build Post').item.json;\nlet manifest = [];\nif ($binary?.manifest?.data) {\n  try {\n    manifest = JSON.parse(Buffer.from($binary.manifest.data, 'base64').toString('utf8'));\n  } catch (error) {\n    manifest = [];\n  }\n}\nif (!Array.isArray(manifest)) manifest = [];\nconst filtered = manifest.filter((entry) => entry.slug !== prior.manifest_entry.slug);\nfiltered.push(prior.manifest_entry);\nfiltered.sort((a, b) => new Date(b.published_at).getTime() - new Date(a.published_at).getTime());\nreturn {\n  json: {\n    ...prior,\n    manifest_json: JSON.stringify(filtered, null, 2)\n  }\n};"
      },
      "id": "6903c623-cd26-472a-aa5f-2fa81f6365e0",
      "name": "Update Manifest JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "upload",
        "path": "={{ $json.post_path }}",
        "binaryDataUpload": false,
        "fileContent": "={{ $json.post_json }}"
      },
      "id": "8537ad0e-318f-4fdc-87c3-a2e6ed6a0a2d",
      "name": "Upload Post JSON",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1980,
        0
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "upload",
        "path": "={{ $json.manifest_path }}",
        "binaryDataUpload": false,
        "fileContent": "={{ $json.manifest_json }}"
      },
      "id": "87ed4128-2bb9-4901-a005-ebac0051446e",
      "name": "Upload Manifest JSON",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2200,
        0
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const source = $('Update Manifest JSON').item.json;\nconst payload = {\n  slug: source.manifest_entry.slug,\n  post_json: source.post_json,\n  manifest_json: source.manifest_json\n};\n\nreturn {\n  json: {\n    ...source,\n    repo_payload_b64: Buffer.from(JSON.stringify(payload), 'utf8').toString('base64')\n  }\n};"
      },
      "id": "b39d83d3-1c2f-4c5a-bf6d-d4aa6098f114",
      "name": "Build Repo Publish Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "password",
        "resource": "command",
        "operation": "execute",
        "command": "=/home/dduggan/bin/tech-blog-publish-to-repo.sh --base64 '{{$json.repo_payload_b64}}'",
        "cwd": "/home/dduggan"
      },
      "id": "9e73c58a-7a30-42ea-9d0a-e5480645ded6",
      "name": "Run Repo Publish",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2640,
        0
      ],
      "credentials": {
        "sshPassword": {
          "id": "2eqyZWE7NQaj9z2W",
          "name": "SSH - n8n host VM"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "file",
        "operation": "move",
        "path": "={{ $('Update Manifest JSON').item.json.source_path }}",
        "toPath": "={{ $('Update Manifest JSON').item.json.archive_path }}"
      },
      "id": "0f3572c6-8ca2-422c-98a2-869cd0d8d63d",
      "name": "Archive Published Note",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2860,
        0
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "RvsFdJqFHNICksKj",
          "name": "Nextcloud-tech-blog-n8n-automation"
        }
      }
    }
    ],
    "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ensure JSON Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure JSON Folder": {
      "main": [
        [
          {
            "node": "Ensure Posts Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Posts Folder": {
      "main": [
        [
          {
            "node": "List Publish Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Publish Folder": {
      "main": [
        [
          {
            "node": "Filter Publish Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Publish Markdown": {
      "main": [
        [
          {
            "node": "Download Publish Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Publish Markdown": {
      "main": [
        [
          {
            "node": "Parse And Build Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse And Build Post": {
      "main": [
        [
          {
            "node": "Download Existing Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Existing Manifest": {
      "main": [
        [
          {
            "node": "Update Manifest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Manifest JSON": {
      "main": [
        [
          {
            "node": "Upload Post JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Post JSON": {
      "main": [
        [
          {
            "node": "Upload Manifest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Manifest JSON": {
      "main": [
        [
          {
            "node": "Build Repo Publish Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Repo Publish Payload": {
      "main": [
        [
          {
            "node": "Run Repo Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Repo Publish": {
      "main": [
        [
          {
            "node": "Archive Published Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "7e951e08-faf4-473d-a84e-f843d8aa9052",
    "activeVersionId": null,
    "versionCounter": 1,
    "triggerCount": 0,
    "tags": []
  }
]
